PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "_prisma_migrations" (
    "id"                    TEXT PRIMARY KEY NOT NULL,
    "checksum"              TEXT NOT NULL,
    "finished_at"           DATETIME,
    "migration_name"        TEXT NOT NULL,
    "logs"                  TEXT,
    "rolled_back_at"        DATETIME,
    "started_at"            DATETIME NOT NULL DEFAULT current_timestamp,
    "applied_steps_count"   INTEGER UNSIGNED NOT NULL DEFAULT 0
);
INSERT INTO _prisma_migrations VALUES('0bc65df5-62b9-4b11-b423-b272e4d3137d','3a11a92feeafa23138c6a729043237fab9521955f632e72cd2ef68ad18927304',1737454186686,'20250121100946_init_db',NULL,NULL,1737454186645,1);
INSERT INTO _prisma_migrations VALUES('3890d869-3ace-4c61-a0a9-73e31c6c4c94','3949a0f5699434ce2db9cc0fe8ce04e1cecc88a4cc2f83a62812ac482df9f4a6',1738429655791,'20250201170735_added_workflow_execution_schema',NULL,NULL,1738429655750,1);
INSERT INTO _prisma_migrations VALUES('aa436910-6cae-49e4-9cfa-f56072a664f7','8fed5a08e67bfe2acc745928ee8844cc2dec94642c971e5f0abce2342e63143a',1740131161386,'20250221094601_renamed_credits_cost',NULL,NULL,1740131161364,1);
CREATE TABLE IF NOT EXISTS "ExecutionPhase" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "number" INTEGER NOT NULL,
    "node" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "startedAt" DATETIME,
    "completedAt" DATETIME,
    "inputs" TEXT,
    "outputs" TEXT,
    "creditsConsumed" INTEGER,
    "workflowExecutionId" TEXT NOT NULL,
    CONSTRAINT "ExecutionPhase_workflowExecutionId_fkey" FOREIGN KEY ("workflowExecutionId") REFERENCES "WorkflowExecution" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO ExecutionPhase VALUES('cm6oifdlo000cm98cwrlh36qw','user_2rvvMuVt581lGwBJfyGnvHvEojm','CREATED',1,'{"id":"cc4f1760-14fe-42f9-9efd-03516f495679","type":"ScrapifyNode","dragHandle":".drag-handle","position":{"x":0,"y":0},"data":{"type":"LAUNCH_BROWSER","inputs":{"Website Url":"https://example.com"}},"measured":{"width":420,"height":219},"selected":false}','Launch Browser',NULL,NULL,NULL,NULL,NULL,'cm6oifdln000bm98ccbficraw');
INSERT INTO ExecutionPhase VALUES('cm6oifdlo000dm98cdurqgd6k','user_2rvvMuVt581lGwBJfyGnvHvEojm','CREATED',2,'{"id":"4d0dcac5-8430-44eb-b595-5c27eeaecdaf","type":"ScrapifyNode","dragHandle":".drag-handle","position":{"x":-50,"y":350},"data":{"type":"PAGE_TO_HTML","inputs":{"Webpage":""}},"measured":{"width":420,"height":192},"selected":false,"dragging":false}','Get HTML from Page',NULL,NULL,NULL,NULL,NULL,'cm6oifdln000bm98ccbficraw');
INSERT INTO ExecutionPhase VALUES('cm6oifdlo000em98cuvnbsida','user_2rvvMuVt581lGwBJfyGnvHvEojm','CREATED',3,'{"id":"66ea2746-6811-41a1-83aa-0ece4394548e","type":"ScrapifyNode","dragHandle":".drag-handle","position":{"x":-25,"y":625},"data":{"type":"EXTRACT_TEXT_FROM_ELEMENT","inputs":{"Html":"","Selector":"#id"}},"measured":{"width":420,"height":340},"selected":true,"dragging":false}','Extract Text From Element',NULL,NULL,NULL,NULL,NULL,'cm6oifdln000bm98ccbficraw');
CREATE TABLE IF NOT EXISTS "WorkflowExecution" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "workflowId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "trigger" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "startedAt" DATETIME,
    "completedAt" DATETIME,
    "definition" TEXT NOT NULL DEFAULT '{}',
    "creditsConsumed" INTEGER NOT NULL DEFAULT 0,
    CONSTRAINT "WorkflowExecution_workflowId_fkey" FOREIGN KEY ("workflowId") REFERENCES "Workflow" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO WorkflowExecution VALUES('cm6oifdln000bm98ccbficraw','cm6g9llob0000m9y86mv611ly','user_2rvvMuVt581lGwBJfyGnvHvEojm','MANUAL','PENDING',1738554442906,1738554442904,NULL,'{}',0);
INSERT INTO WorkflowExecution VALUES('cm7djrh6d0001m9go64kxtxt4','cm6g9llob0000m9y86mv611ly','user_2rvvMuVt581lGwBJfyGnvHvEojm','MANUAL','PENDING',1740068341427,1740068341422,NULL,'{}',0);
INSERT INTO WorkflowExecution VALUES('cm7el1tjv0001m9ogus76dfgg','cm6g9llob0000m9y86mv611ly','user_2rvvMuVt581lGwBJfyGnvHvEojm','MANUAL','PENDING',1740130969816,1740130969810,NULL,'{}',0);
CREATE TABLE IF NOT EXISTS "ExecutionLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "logLevel" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "timestamp" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "executionPhaseId" TEXT NOT NULL,
    CONSTRAINT "ExecutionLog_executionPhaseId_fkey" FOREIGN KEY ("executionPhaseId") REFERENCES "ExecutionPhase" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO ExecutionLog VALUES('cm7ij89zl0005m9v81k0r3w2t','error','Text not extracted',1740369776527,'cm7ij860c0004m9v8jzbyov17');
INSERT INTO ExecutionLog VALUES('cm7ijampp000bm9v8954i6745','error','Element has no text',1740369886331,'cm7ijaiva000am9v8lhyxl3pc');
INSERT INTO ExecutionLog VALUES('cm7ijeyme000hm9v8xyeaqgud','error','Element has no text',1740370088389,'cm7ijevz6000gm9v8itwwzrq0');
CREATE TABLE IF NOT EXISTS "UserBalance" (
    "userId" TEXT NOT NULL PRIMARY KEY,
    "credits" INTEGER NOT NULL DEFAULT 0
);
INSERT INTO UserBalance VALUES('user_2rvvMuVt581lGwBJfyGnvHvEojm',24575);
INSERT INTO UserBalance VALUES('user_2uTdua6hsBB4b7dCK7mXCmL1k26',100);
INSERT INTO UserBalance VALUES('user_2uTeaWm6stAGptAC8txdYJOzh3P',10100);
CREATE TABLE IF NOT EXISTS "Workflow" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "definition" TEXT NOT NULL,
    "executionPlan" TEXT,
    "creditsCost" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL,
    "lastRunAt" DATETIME,
    "lastRunId" TEXT,
    "lastRunStatus" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updateAT" DATETIME NOT NULL
, "cron" TEXT, "nextRunAt" DATETIME);
CREATE TABLE IF NOT EXISTS "Credential" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO Credential VALUES('cm843knfv0000m9p4s4yc6xlh','user_2rvvMuVt581lGwBJfyGnvHvEojm','test','087a1ccd4f27758029c8e2398b3c33ae:3e8a0f8fad8fdcea0caa63b0cadb4cd8',1741673735850);
INSERT INTO Credential VALUES('cm84bweed0000m9fcoazgfcx9','user_2rvvMuVt581lGwBJfyGnvHvEojm','test2','a4e5f82f0bb41df9f976b70044a52592:594a6810fd480bd270f5144e936af43d11b1a744a0015d1779361bad08cd9e17',1741687720932);
INSERT INTO Credential VALUES('cm84c0w620001m9fci3mj40fe','user_2rvvMuVt581lGwBJfyGnvHvEojm','test3','fb1288256550db6f43bb1d5f83930361:6b6f3fbe786e0f4cdc91673e410348d252023eeb4b7205747ad84f76b4c4264a',1741687930584);
CREATE TABLE IF NOT EXISTS "UserPurchase" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "userId" TEXT NOT NULL,
    "stripeId" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "amount" INTEGER NOT NULL,
    "currency" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO UserPurchase VALUES('cm8ebeoi40000m9v47jzzekm0','user_2uTeaWm6stAGptAC8txdYJOzh3P','cs_test_a1rrVZcdHUmHJdef6nwoMZ2ynqSHX9qWCX09d3kOw4eSD5U1AafwLb17jE','Medium Pack package - 5000 credits',3999,'usd',1742291555980);
INSERT INTO UserPurchase VALUES('cm8ebvhwb0001m9v4dvblzct4','user_2rvvMuVt581lGwBJfyGnvHvEojm','cs_test_a1g7pnG0TxYjZdFWaFXv7RsTlDhc9BxXyOIOUX6pDjdXSWEJC1grCVoHSG','Medium Pack package - 5000 credits',3999,'usd',1742292340570);
INSERT INTO UserPurchase VALUES('cm8ebw2750002m9v4fx4a7syt','user_2rvvMuVt581lGwBJfyGnvHvEojm','cs_test_a1NBKuGPLk1C8EzsSGNDwO6TjsQv9oZv7prqaoLkbQzVBaNWEpMm6Czcpd','Large Pack package - 10000 credits',6999,'usd',1742292366882);
CREATE UNIQUE INDEX "Workflow_name_userId_key" ON "Workflow"("name", "userId");
CREATE UNIQUE INDEX "Credential_name_userId_key" ON "Credential"("name", "userId");
COMMIT;
